$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black: #000;
$white: #fff;

body {
  // background-color: $black;
  color: $black;
  font-family: arial;
  margin: 0;
  padding: 0;
  background-image: url('polkadots.png');
  background-position: center;
}

.navbar-brand {
  color: $black;
}

#showgame {
  display: none;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

#change-password-button{
  display: none;
}

#sign-out {
  display: none;
}
