$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black: #000;
$white: #fff;
$gray: #1B1F21;

body {
  background-color: $gray;
  color: $black;
  font-family: arial;
  margin: 0;
  padding: 0;
  // background-image: url('polkadots.png');
  // background-position: center;
}

.navbar-brand {
  color: $black;
}

#showgame {
  display: block;
  // display: none;
  width: 800px;
  height: 600px;
  // margin: 0 auto;
  // text-align: right;
  position: absolute;
}

.instructions {
  // position: absolute;
  text-align: right;
  // margin: 0 auto;
}

#change-password-button{
  display: none;
}

#sign-out {
  display: none;
}
